.TicketConcert{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    height: 120px;
    width: 350px;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}
.containerInfoConcert{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}
.containerInfoConcert > p{
    margin: 0;
}
.event{
    font-size: 16px;
    text-transform: capitalize;
}
.where{
    text-transform: capitalize;
    color: rgba(255, 255, 255, 0.6);
    font-size: 11px;
    margin: 2px 0 20px 0 !important;
}
.ticketOk{
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    line-height: 16px;
    padding: 5px 10px;
    border: 1px solid #f1f1f1;

}
.ticketSoldout{
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    text-decoration: line-through;
}
/* .dateConcert{
    background-color: rgba(0, 0, 0, 1);
    border-top-left-radius:10px ;
    border-bottom-left-radius: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.containerDateConcert{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    margin: 0px 20px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.6);
}
.containerDateConcert > p {
    margin: 0 auto;
}
.mounth{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 600;
    font-size: 11px;
}
.day{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.year{
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 600;
    font-size: 11px;
}
.separationTicket{
    height: 100%;
    width: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bulle{
    padding: 7.5px;
    border-radius: 999px;
    position: relative;
}
.bulle.top{
    top: -5px;
}
.bulle.bottom{
    bottom: -5px;
}
.bul{
    padding: 2.5px;
    border-radius: 999px;
}
.bulles{
    height: 98%;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@media (max-width: 650px) {  
    .TicketConcert {
        width: 300px;
    }
    .event {
        font-size: 14px;
        text-align: left;
    }
    .containerDateConcert {
        margin: 0px 15px;
    }
}
@media (max-width: 360px) {  
    .TicketConcert {
        width: 270px;
    }
    .containerInfoConcert {
        padding: 15px;
    }
}