.Video{
    height: 197px;
    position: relative;
    border-radius: 20px;
    width: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.miniature{
    object-fit: cover;
    object-position: center;
    height: 100%;
    width: 100%;
}
.titleVideo{
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
}

.ytp-large-play-button{
    background-color: rgba(0,0,0,0.5) !important;
    position: relative !important;
}